header {
    min-height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 74.375px;
    color: $textMainColor;
}

.navWrap {
    position: absolute;
    right: 0;
    width: 417px;
}

.navHidden {
    display: none;
    justify-content: space-between;
    align-items: top;

    @media(min-width: 1024px) {
        display: flex;
    }
}

.navLinks {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    a {
        text-decoration: none;
        font-size: 18px;
        color: $textMainColor;
    }
}

.contactNumber {
    font-size: 18px;
}


.navBarIcon {
    width: 30px;
    height: 30px;
    color: lighten($color: $textMainColor, $amount: 30%);

    @media(min-width: 1024px) {
        display: none;
    }
}