main {

    @media(max-width:1023px) {
        width: 320px;
        margin: 0 auto;
    }
}

.welcomeWrap {
    max-height: 385px;

    .welcomeInfo {
        max-width: 343px;
    }

    .welcomeHeader {
        font-size: 32px;
        margin-top: 20px;

    }

    .welcomeDescription {
        font-size: 16px;
        margin-top: 20px;
        max-width: 320px;
        padding-right: 10px;
    }

    .welcomeButton {
        background: $backgroundLightColor;
        font-size: 19px;
        margin-top: 24px;
        border: none;
        border-bottom: 1px solid $textMainColor;
        padding: 0;
    }

    @media(min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .welcomeHeader {
            text-transform: uppercase;
            font-size: 70px;
            line-height: 75px;
            // width: 794px;
            margin-top: 40px;
        }

        .welcomeInfo {
            max-width: 794px;
        }

        .welcomeDescription {
            font-size: 20px;
            margin-top: 40px;
            max-width: 445px;
        }

        .welcomeButton {
            padding-top: 94px;
            padding-right: 0;
        }
    }
}

.demoImages {
    margin-top: 24px;

    .demoImages1 {
        display: none;
    }

    .demoImages2 {
        width: 300px;
        height: 261px;
        object-fit: cover;
        padding-right: 0;
    }

    @media(min-width:1300px) {
        margin: -65px 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .demoImages1 {
            display: block;
            width: 329px;
            height: 493px;
            object-fit: cover;
        }

        .demoImages2 {
            display: block;
            width: 650px;
            height: 809px;
        }
    }
}


.aboutCompany {
    margin-top: 48px;

    .aboutCompanyHeader {
        font-size: 28px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .aboutCompanyDescription:first-child {
        margin-top: 0;
    }

    .aboutCompanyDescription {
        padding-right: 15px;
        font-size: 16px;
    }

    .hiddenParagraph {
        display: none;
    }

    aside {

        h3,
        h4 {
            font-size: 24px;
            font-weight: normal;
        }

        h4 {
            padding-bottom: 20px;
        }

        p {
            font-size: 16px;
            max-width: 160px;
            margin-top: -24px;
        }
    }

    @media(min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 120px;

        .aboutCompanyMainPart {
            width: 562px;
        }

        .aboutCompanyDetailedPart {
            width: 650px;
            margin-top: 29px;
        }

        .aboutCompanyHeader {
            font-size: 48px;
            margin-top: 0;

        }

        .aboutCompanyDescription {
            width: 446px;
        }

        .hiddenParagraph {
            display: inline;
        }
    }
}

.aboutCompanyDetailedPart {
    section {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;

        h4 {
            font-size: 24px;
            font-weight: normal;
        }

        p {
            font-size: 16px;
        }
    }

    hr {
        color: 1px solid black;
    }

    @media(min-width: 1024px) {
        section:first-child {
            margin-top: -29px;
        }

        section {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 678px;

            h4 {
                width: 328px;
                font-size: 36px;
                margin-top: 0;
            }

            p {
                display: inline-block;
                width: 329px;
                padding-right: 32px;
            }
        }
    }
}