@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
/* line 1, blocks/_header.scss */
header {
  min-height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 8, blocks/_header.scss */
.logo {
  width: 70px;
  height: 74.375px;
  color: #212529;
}

/* line 14, blocks/_header.scss */
.navWrap {
  position: absolute;
  right: 0;
  width: 417px;
}

/* line 20, blocks/_header.scss */
.navHidden {
  display: none;
  justify-content: space-between;
  align-items: top;
}
@media (min-width: 1024px) {
  /* line 20, blocks/_header.scss */
  .navHidden {
    display: flex;
  }
}

/* line 30, blocks/_header.scss */
.navLinks {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
/* line 34, blocks/_header.scss */
.navLinks a {
  text-decoration: none;
  font-size: 18px;
  color: #212529;
}

/* line 41, blocks/_header.scss */
.contactNumber {
  font-size: 18px;
}

/* line 46, blocks/_header.scss */
.navBarIcon {
  width: 30px;
  height: 30px;
  color: #65727e;
}
@media (min-width: 1024px) {
  /* line 46, blocks/_header.scss */
  .navBarIcon {
    display: none;
  }
}

@media (max-width: 1023px) {
  /* line 1, blocks/_main.scss */
  main {
    width: 320px;
    margin: 0 auto;
  }
}

/* line 9, blocks/_main.scss */
.welcomeWrap {
  max-height: 385px;
}
/* line 12, blocks/_main.scss */
.welcomeWrap .welcomeInfo {
  max-width: 343px;
}
/* line 16, blocks/_main.scss */
.welcomeWrap .welcomeHeader {
  font-size: 32px;
  margin-top: 20px;
}
/* line 22, blocks/_main.scss */
.welcomeWrap .welcomeDescription {
  font-size: 16px;
  margin-top: 20px;
  max-width: 320px;
  padding-right: 10px;
}
/* line 29, blocks/_main.scss */
.welcomeWrap .welcomeButton {
  background: #FFFFFF;
  font-size: 19px;
  margin-top: 24px;
  border: none;
  border-bottom: 1px solid #212529;
  padding: 0;
}
@media (min-width: 1024px) {
  /* line 9, blocks/_main.scss */
  .welcomeWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* line 43, blocks/_main.scss */
  .welcomeWrap .welcomeHeader {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 75px;
    margin-top: 40px;
  }
  /* line 51, blocks/_main.scss */
  .welcomeWrap .welcomeInfo {
    max-width: 794px;
  }
  /* line 55, blocks/_main.scss */
  .welcomeWrap .welcomeDescription {
    font-size: 20px;
    margin-top: 40px;
    max-width: 445px;
  }
  /* line 61, blocks/_main.scss */
  .welcomeWrap .welcomeButton {
    padding-top: 94px;
    padding-right: 0;
  }
}

/* line 68, blocks/_main.scss */
.demoImages {
  margin-top: 24px;
}
/* line 71, blocks/_main.scss */
.demoImages .demoImages1 {
  display: none;
}
/* line 75, blocks/_main.scss */
.demoImages .demoImages2 {
  width: 300px;
  height: 261px;
  object-fit: cover;
  padding-right: 0;
}
@media (min-width: 1300px) {
  /* line 68, blocks/_main.scss */
  .demoImages {
    margin: -65px 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  /* line 88, blocks/_main.scss */
  .demoImages .demoImages1 {
    display: block;
    width: 329px;
    height: 493px;
    object-fit: cover;
  }
  /* line 95, blocks/_main.scss */
  .demoImages .demoImages2 {
    display: block;
    width: 650px;
    height: 809px;
  }
}

/* line 104, blocks/_main.scss */
.aboutCompany {
  margin-top: 48px;
}
/* line 107, blocks/_main.scss */
.aboutCompany .aboutCompanyHeader {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 113, blocks/_main.scss */
.aboutCompany .aboutCompanyDescription:first-child {
  margin-top: 0;
}
/* line 117, blocks/_main.scss */
.aboutCompany .aboutCompanyDescription {
  padding-right: 15px;
  font-size: 16px;
}
/* line 122, blocks/_main.scss */
.aboutCompany .hiddenParagraph {
  display: none;
}
/* line 128, blocks/_main.scss */
.aboutCompany aside h3,
.aboutCompany aside h4 {
  font-size: 24px;
  font-weight: normal;
}
/* line 134, blocks/_main.scss */
.aboutCompany aside h4 {
  padding-bottom: 20px;
}
/* line 138, blocks/_main.scss */
.aboutCompany aside p {
  font-size: 16px;
  max-width: 160px;
  margin-top: -24px;
}
@media (min-width: 1024px) {
  /* line 104, blocks/_main.scss */
  .aboutCompany {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 120px;
  }
  /* line 151, blocks/_main.scss */
  .aboutCompany .aboutCompanyMainPart {
    width: 562px;
  }
  /* line 155, blocks/_main.scss */
  .aboutCompany .aboutCompanyDetailedPart {
    width: 650px;
    margin-top: 29px;
  }
  /* line 160, blocks/_main.scss */
  .aboutCompany .aboutCompanyHeader {
    font-size: 48px;
    margin-top: 0;
  }
  /* line 166, blocks/_main.scss */
  .aboutCompany .aboutCompanyDescription {
    width: 446px;
  }
  /* line 170, blocks/_main.scss */
  .aboutCompany .hiddenParagraph {
    display: inline;
  }
}

/* line 177, blocks/_main.scss */
.aboutCompanyDetailedPart section {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 182, blocks/_main.scss */
.aboutCompanyDetailedPart section h4 {
  font-size: 24px;
  font-weight: normal;
}
/* line 187, blocks/_main.scss */
.aboutCompanyDetailedPart section p {
  font-size: 16px;
}
/* line 192, blocks/_main.scss */
.aboutCompanyDetailedPart hr {
  color: 1px solid black;
}
@media (min-width: 1024px) {
  /* line 197, blocks/_main.scss */
  .aboutCompanyDetailedPart section:first-child {
    margin-top: -29px;
  }
  /* line 201, blocks/_main.scss */
  .aboutCompanyDetailedPart section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 678px;
  }
  /* line 207, blocks/_main.scss */
  .aboutCompanyDetailedPart section h4 {
    width: 328px;
    font-size: 36px;
    margin-top: 0;
  }
  /* line 213, blocks/_main.scss */
  .aboutCompanyDetailedPart section p {
    display: inline-block;
    width: 329px;
    padding-right: 32px;
  }
}

/* line 6, style.scss */
.container {
  padding: 0 16px;
  background: #FFFFFF;
  color: #212529;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
